* {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-color: rgb(9, 9, 11);
}

body {
  margin: 0;
}

#root {
  width: 100%;
}

::selection {
  background-color: hsla(168, 100%, 70%, 0.3);
}
