@use './variables' as *;

.delivery-status-badge {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: 600;

  &.status-in-transit {
    background-color: rgba(99, 102, 241, 0.2);
    color: $primary-indigo;
  }
}

